In [1]:
import torch as th
import numpy as np
import pandas as pd

LC0_UMAP_FILE_NAME = 'nn200_umap_embedding.csv'
PSE_FILE_NAME = 'alphazero_vs_stockfish_all.csv'
MERGED_FILE_NAME = 'nn200_alphazero_vs_stockfish_merged.csv'

In [2]:
embedding_df = pd.read_csv(LC0_UMAP_FILE_NAME)
embedding_df.head()

   Unnamed: 0          0          1
0           0  10.102496  26.567085
1           1  10.017036  26.636500
2           2  12.813954   3.942135
3           3   6.095325   7.554142
4           4  12.646986   1.823031

In [3]:
embedding_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28575 entries, 0 to 28574
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  28575 non-null  int64
 1   0           28575 non-null  float64
 2   1           28575 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 669.9 KB

In [4]:
pse_df = pd.read_csv(PSE_FILE_NAME)
pse_df.head()

,x,y,cubeNum,cp,algo,age,a8,b8,c8,d8,...,g2,h2,a1,b1,c1,d1,e1,f1,g1,h1
0,53.253178,-10.606059,0,1,0,0,br,bn,bb,bq,...,wp,wp,wr,wn,wb,wq,wk,wb,wn,wr
1,52.097670,-9.965739,0,0,0,1,br,bn,bb,bq,...,wp,wp,wr,wn,wb,wq,wk,wb,NaN,wr
2,53.281244,-7.344736,0,0,0,2,br,bn,bb,bq,...,wp,wp,wr,wn,wb,wq,wk,wb,NaN,wr
3,53.287711,-4.256539,0,0,0,3,br,bn,bb,bq,...,wp,wp,wr,wn,wb,wq,wk,wb,NaN,wr
4,54.068192,-2.399275,0,0,0,4,br,bn,bb,bq,...,wp,wp,wr,wn,wb,wq,wk,wb,NaN,wr

In [5]:
pse_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28575 entries, 0 to 28574
Data columns (total 70 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   x        28575 non-null  float64
 1   y        28575 non-null  float64
 2   cubeNum  28575 non-null  int64
 3   cp       28575 non-null  int64
 4   algo     28575 non-null  int64
 5   age      28575 non-null  int64
 6   a8       5957 non-null   object
 7   b8       3676 non-null   object
 8   c8       4787 non-null   object
 9   d8       6526 non-null   object
 10  e8       6047 non-null   object
 11  f8       6466 non-null   object
 12  g8       7573 non-null   object
 13  h8       4709 non-null   object
 14  a7       7541 non-null   object
 15  b7       7792 non-null   object
 16  c7       8362 non-null   object
 17  d7       6429 non-null   object
 18  e7       6800 non-null   object
 19  f7       11231 non-null  object
 20  g7       10580 non-null  object
 21  h7       11100 non-null  object
 22  a6       4649 non-null   object
 23  b6       8220 non-null   object
 24  c6       6828 non-null   object
 25  d6       6180 non-null   object
 26  e6       9872 non-null   object
 27  f6       8136 non-null   object
 28  g6       8830 non-null   object
 29  h6       7040 non-null   object
 30  a5       6440 non-null   object
 31  b5       6395 non-null   object
 32  c5       6381 non-null   object
 33  d5       10021 non-null  object
 34  e5       10790 non-null  object
 35  f5       6987 non-null   object
 36  g5       4863 non-null   object
 37  h5       7136 non-null   object
 38  a4       6493 non-null   object
 39  b4       4789 non-null   object
 40  c4       8781 non-null   object
 41  d4       10217 non-null  object
 42  e4       8470 non-null   object
 43  f4       7407 non-null   object
 44  g4       4324 non-null   object
 45  h4       7161 non-null   object
 46  a3       5307 non-null   object
 47  b3       5273 non-null   object
 48  c3       7264 non-null   object
 49  d3       5403 non-null   object
 50  e3       7015 non-null   object
 51  f3       8716 non-null   object
 52  g3       8410 non-null   object
 53  h3       5874 non-null   object
 54  a2       6622 non-null   object
 55  b2       7681 non-null   object
 56  c2       5101 non-null   object
 57  d2       4978 non-null   object
 58  e2       6718 non-null   object
 59  f2       12696 non-null  object
 60  g2       11508 non-null  object
 61  h2       8459 non-null   object
 62  a1       6076 non-null   object
 63  b1       4098 non-null   object
 64  c1       5151 non-null   object
 65  d1       5974 non-null   object
 66  e1       5440 non-null   object
 67  f1       5592 non-null   object
 68  g1       7159 non-null   object
 69  h1       4094 non-null   object
dtypes: float64(2), int64(4), object(64)
memory usage: 15.3+ MB

In [6]:
pse_df['x'] = embedding_df['0']
pse_df['y'] = embedding_df['1']
pse_df.head()

,x,y,cubeNum,cp,algo,age,a8,b8,c8,d8,...,g2,h2,a1,b1,c1,d1,e1,f1,g1,h1
0,10.102496,26.567085,0,1,0,0,br,bn,bb,bq,...,wp,wp,wr,wn,wb,wq,wk,wb,wn,wr
1,10.017036,26.636500,0,0,0,1,br,bn,bb,bq,...,wp,wp,wr,wn,wb,wq,wk,wb,NaN,wr
2,12.813954,3.942135,0,0,0,2,br,bn,bb,bq,...,wp,wp,wr,wn,wb,wq,wk,wb,NaN,wr
3,6.095325,7.554142,0,0,0,3,br,bn,bb,bq,...,wp,wp,wr,wn,wb,wq,wk,wb,NaN,wr
4,12.646986,1.823031,0,0,0,4,br,bn,bb,bq,...,wp,wp,wr,wn,wb,wq,wk,wb,NaN,wr

In [7]:
pse_df.to_csv(MERGED_FILE_NAME)